# Place in ~/.ssh/config

# LSU HPC machines
Host db1
   HostName db1.hpc.lsu.edu
   User lts
   PreferredAuthentications publickey

Host mike
   HostName mike.hpc.lsu.edu
   User lts
   PreferredAuthentications publickey

# LONI Machines
Host qbd
   HostName qbd.loni.org
   User lts
   PreferredAuthentications publickey
   
# CCT Machines
Host bounce
    HostName bounce.cct.lsu.edu
    user lsanches
    port 22

Host vault
    HostName vault.cct.lsu.edu
    user lsanches
    port 2525
    ProxyJump bounce

Host mel5
    hostname melete05.cct.lsu.edu
    User lsanches
    Port 2526
    ProxyJump bounce
